/*
color scheme
#FF6B35 #F7C59F #EFEFD0 #004E89 #1A659E #800000 #85c7f2
*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #EFEFD0;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Silkscreen', cursive;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

h1 {
    font-size: 100%;
    font-family: 'silkscreen';
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

h3 {
    font-size: 80%;
    text-transform: uppercase;
    font-family: 'orbitron';
    letter-spacing: 2px;
    text-align: center;

}

h4 {
    font-size: 60%;
    text-transform: uppercase;
    font-family: 'orbitron';
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
}

/* bug: using flex to center content. The #main parent div will not center #sound-board child div.*/
/* solved: unexpected behaviour was occuring with centering elements*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* sound-board structure*/
.sound-board {
    width: 310px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #FF6B35;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

}

#sound-board2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#join {
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 10px;
    border-radius: 5PX;
    font-family: 'Orbitron', sans-serif;
    font-family: 'orbitron';
    letter-spacing: 1px;
    text-align: center;
    background-color: #F7C59F;
}

button:active {
    background-color: #FF6B35;
}

p {
    text-align: center;
    font-size: small;
    width: 300px;
}

#nav:link,
#nav:visited {
    margin-top: 5px;
    background-color: #FF6B35;
    border-radius: 5px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width:310px;
    height: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    display: inline-block;
}

#nav:hover,
#nav:active {
    background-color: #daa18c;
}

#form-div {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: inline-block;
    width: 150px;
    text-align: center;
}

#errors {
    background-color: lightpink;
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 3px;
    display: none;
}

input {
    border: solid;
    border-color: grey;
    border-radius: 5px;
}

label {
    font-family: 'Orbitron', sans-serif;
}